---
export interface BlogListItem {
  title: string;
  href: string;
  description?: string;
  meta: string;
}

interface Props {
  posts: BlogListItem[];
  emptyMessage?: string;
}

const { posts, emptyMessage } = Astro.props;
---

<div class="blog-list">
  {
    posts.length > 0 ? (
      posts.map((post) => (
        <article class="blog-item">
          <div class="blog-item__body">
            <h3 class="blog-item__title">
              <a class="blog-item__link" href={post.href}>
                {post.title}
              </a>
            </h3>
            {post.description && (
              <p class="blog-item__description">{post.description}</p>
            )}
          </div>
          <span class="blog-item__status">{post.meta}</span>
        </article>
      ))
    ) : (
      <p class="blog-list__empty">{emptyMessage}</p>
    )
  }
</div>
